<%= render 'shared/banner' %>
<div class="section">
  <div class="overview">
    <h2>How it works</h2>
    <div class="row">
      <div class="col-sm-3">
        <h3>Join</h3>
        <p>blah</p>
      </div>
      <div class="col-sm-3">
        <h3>Customize</h3>
        <p>blah</p>
      </div>
      <div class="col-sm-3">
        <h3>SOS</h3>
        <p>blah</p>
      </div>
      <div class="col-sm-3">
        <h3>Talk</h3>
        <p>blah</p>
      </div>
    </div>
  </div>

<div class="" id="car-test">
  <div class="children">
    <p>yo</p>
  </div>
  <div class="children">
    <p>yo</p>
  </div>
  <div class="children">
    <p>yo</p>
  </div>
</div>


  <div class="cocktails">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail.name, cocktail_path(cocktail)%>
    <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
    <% cocktail.doses.each do |dose| %>
      <%= dose.description %>
      <%= dose.ingredient.name %>
    <% end %>
  <% end %>
  </div>
</div>
<%= link_to 'create new cocktail', new_cocktail_path  %>
